.change-password-wrap {
  width: 545px;
  padding: 45px 55px;
  border: 2px solid #f0edf1;
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 42px;
  }
}
