.password-verification-page {
  .form-title {
    margin-bottom: 20px;
  }
  .form-description {
    font-size: 14px;
    margin-bottom: 45px;
  }

  .password-verification-form {
    .form-row {
      display: flex;
      justify-content: center;
      &:focus-within {
        .form-input {
          border-color: $light;
        }
      }
    }
    .form-input {
      margin-right: 20px;
      max-width: 30px;
      font-size: 18px;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      &:focus {
        border-color: $primary !important;
      }
    }
  }
}
