.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  border: none;
  &:hover {
    transition: 0.5s;
  }

  /* btn primary */
  &.btnPrimary {
    background: linear-gradient(90deg, #068dd3 0%, #0bb3f3 100%);
    color: #ffffff;
    &:hover {
      background: linear-gradient(90deg, #0bb3f3 0%, #068dd3 100%);
    }
  }

  /* btn secondary */
  &.btnSecondary {
    background: transparent;
    border: 1px solid #0aa9eb;
    color: #0aa9eb;
    &:hover {
      background: #0aa9eb;
      border: 1px solid #0aa9eb;
      color: #ffffff;
      transition: 0.5s;
    }
  }
}

// site btn
.siteBtn {
  background: linear-gradient(90deg, #068dd3 0%, #0bb3f3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 600;
  &:hover {
    background: linear-gradient(90deg, #0bb3f3 0%, #068dd3 100%);
  }
  &.large {
    font-size: 14px;
    width: 100px;
    height: 32px;
  }
  &.small {
    font-size: 12px;
    width: 80px;
    height: 24px;
  }
}

// btn danger
.btnDanger {
  background: #de4132;
  border-radius: 2px;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 9px 32px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: #c92618;
    transition: 0.5s;
  }
}
