.export-data {
  position: absolute;
  right: 20px;
  top: 20px;
  .ant-dropdown-trigger {
    width: 87px;
    height: 36px;
    background: #0bb3f3;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    .anticon-down {
      margin: 5px 0 0 5px;
    }
  }
  .ant-dropdown {
    .ant-dropdown-menu-item {
      display: flex;
      padding: 5px 10px;
    }
  }
}
