.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textCenter {
  text-align: center;
}
.c-text {
  font-size: 16px;
  color: #5f6062;
  line-height: 21.79px;
  font-weight: 400;
}

.d-none {
  display: none !important;
}
